{% extends 'base.html' %}

{% block content %}
<!-- <div class="container text-center">
    <div class="card bg-dark" style="background: linear-gradient(0.25turn,#78c0e2 ,45%,#ec92db);">
        <div class="row text-white">
            <div class="container col-6 p-4">
                <h2 class="p-4 col-lg-6 " style="margin-bottom: 0px; display: inline; padding-bottom: 0px !important;">
                    NAME : {{product.name}}</h2>
                <h3 class="p-4 col-lg-12">Price : {{product.price}}</h3>
                <h3 class="p-4 col-lg-12">Rate : {{product.rate}}</h3>
                <h3 class="p-4 col-lg-12">Count_buy : {{product.count_buying}}</h3>
                <form action="{% url 'order:addcart' product.id %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="add to cart">
                </form>
            </div>
            <div class="col-6 mt-5">
                <img src="{{product.image.url}}" class="col-6 p-3 mb-3" style="border-radius: 10%; height: 400px;">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1>
        comment :
        <br>
        {% for message in comment %}
            {{message.comment }}
            {{message.product_id}}
            <br>
        {% endfor %}
    </h1>
</div> -->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card mb-4">
                <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" style="height:200px;">
                <div class="card-body">
                    <h3 class="card-text">{{product.price}} Toman</h3>
                    <form action="{% url 'order:addcart' product.id %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="col-12 col-lg-12 add_to" value="add to cart">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <h4>Name : {{product.name}}</h4>
            <h4>Rate : {{product.rate}}</h4>
            <h4>Count_buy : {{product.count_buying}}</h4>
        </div>
    </div>
    {% if comment %}
    <div class="row">
        <h1>Comment : </h1>
        {% for message in comment %}
            <h4>{{message.comment}}</h4>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}