{% extends 'base.html'%}

{% block content %}
<h1>heloooooooooo</h1>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- phone input -->
                    <div class="form-outline mb-4">
                        <h4>Phone: </h4>
                        {{form.phone_number}}
                    </div>
                    <!-- first name input -->
                    <div class="form-outline mb-4">
                        <h4>First Name : </h4>
                        {{form.firstname}}
                    </div>
                    <!-- last name input -->
                    <div class="form-outline mb-4">
                        <h4>Last Name  :</h4>
                        {{form.lastname}}
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <h4>Password: </h4>
                        {{form.password}}
                    </div>
                    <!-- Confirm Password input -->
                    <div class="form-outline mb-4">
                        <h4>Confirm Password:</h4>
                        {{form.password2}}
                    </div>
                    <div class="d-flex mb-4">
                    </div>
                    <!-- Submit button -->
                    <input type="submit" value="Register">
                </form>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}