<div class="row m-2">

    {% for product in products %}
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="{{product.image.url}}" class="card-img-top" style="height:200px;">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.price}} Hezar toman</p>
                <a href="{{ product.get_absolute_url }}" class="btn btn-warning">Detail</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <form>
      {{ search_form }}
      <input type="submit" value="search" class="nav-item">
      <br\>
    </form>
    <br\>
    <nav aria-label="Page navigation example">
        <br\>
        <ul class="pagination">
            {% if product.has_previous %} 
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li> 
          <li class="page-item"><a class="page-link" href="?page={{ product.previous_page_number}}">{{ product.previous_page_number}}</a></li>
            {% endif %}

          <li class="page-item"><a class="page-link" href="?page={{ product.number}}" style="background-color:rgb(234, 201, 55)
        ">{{ product.number}}</a></li>

          {% if product.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ product.next_page_number }}">{{ product.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ product.paginator.num_pages }}">Last</a></li>
          {% endif %}
        </ul>
      </nav>

</div>