<div class="row m-2">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="{{product.image.url}}" class="card-img-top" style="height:200px;">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.price}} Hezar toman</p>
                <a href="{{ shop.get_absolute_url }}" class="btn btn-warning">Detail</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>